.categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    margin: 1rem 1rem 3rem 1rem;
}
.categories div {
    background: #fff;
    border-radius: 3px;
    padding: 0.5rem;
    font-size: 22px;
    cursor: pointer;
}
